body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    background: white;
    padding: 25px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

h2 {
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 5px;
    border: 1px solid #888;
}

button {
    background: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

a {
    text-decoration: none;
    display: block;
    margin-top: 12px;
    text-align: center;
    color: #007bff;
}
